/* Importando fonte estilosa */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');



.menu-button, .produtos-button, .inicio-button, .promoções-button, .contato-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
}


.menu {
    display: inline-block;
    text-transform: none;
    padding: 10px;
    margin: 20px;
    
}



.topo-site {
    background-image: url("ChatGPT Image 19 de fev. de 2026, 19_45_14.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgb(255, 255, 255)
}
nav.topo-site li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

nav li {
    background: rgba(0,0,0,0.6);
    padding: 8px 15px;
    border-radius: 5px;
}

.topo-site {
    background-image: url("ChatGPT Image 19 de fev. de 2026, 19_45_14.png");
    background-size: cover;
    background-position: center; 
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'montserrat', sans-serif;
}